.font-size {
  font-size: 30px;
  font-weight: 800;
}

.ul {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  background-color: yellow;
  padding: 20px;
  text-align: center;
  margin-left: 15%;
}

.li {
  display: inline-block;
  padding: 5px 15px;
}

.b;
